* {
  background-color: #DD7399;
  font-family: 'Times New Roman', Times, serif;
}

header h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

button {
  background-color: #AD2F5C;
  color: white;
  display: inline-block;
  font-size: 15px;
  align-items: center;
  padding: 10px 12px;
}